<h2>Data Loggers</h2>

<ul class="dataloggers">
    <li *ngFor="let datalogger of dataloggers">
        <a routerLink="/detail/{{datalogger.id}}">
            <span class="datalogger">id: {{datalogger.id}}</span>
        </a>
    </li>
</ul>

<app-datalogger-detail></app-datalogger-detail>