<div *ngIf="datalogger">
    <h2>Selected Datalogger</h2>
    <div>
        <span>id: </span>
        <span>{{datalogger.id}}</span>
    </div>
    <div>
        <label>name:
          <input [(ngModel)]="datalogger.name" placeholder="name"/>
        </label>
  </div>
  <button (click)="goBack()">Back</button>
</div>